/* All Pages */
.page {
  background-color: #0c223f;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* Home Page */
.App {
  text-align: center;
}

.msc-logo-spin {
  height: 40vmin;
  pointer-events: none;
  padding: 5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .msc-logo-spin {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header-home {
  background-color: #113059;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Navbar */
.msc-logo {
  height: 10vmin;
  pointer-events: none;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.navbar {
  background-color: #0c223f;
  font-family: "Montserrat", sans-serif;
}

.nav-item {
  padding: 2vmin;
}

/* Header */
.App-header {
  background-color: #113059;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: calc(18px + 2vmin);
  color: white;
}

.body-image {
  max-width: 40%;
}

/* Body Content */
.body {
  padding: 3%;
}

/* Body Text */
.body-text {
  padding: 2%;
}